*{
    margin: 0;
    padding: 0;
}
.services{
width: 50%;
margin: 50px auto;

}
.services h2{
    font-size: 40px;
    margin-bottom: 60px;
}
.services .phone{
    display: inline-block;
    margin:  10px;
    background-color:#FEFEFE;
    border: 0.0001px solid black;
    padding: 1px 10px;
}
.services .phone img{
    width: 90%;
    padding: 20px 30px;
}
.services .phone  .descreption {
 margin: 10px ;
 padding: 10px;

}
.services .phone  .descreption .one-span{
    color: #3FAF59;
    font-size: 20px;
}
.services .phone  .descreption .two-span{
    font-size: 15px;
     color: red;  
}
.services .buttons{
    margin: 10px ;
    padding:0px 10px;
    width: 100%;
    height: 30px;
}
.services .buttons button{
    width: 75%;
    height: 100%;
    color: #FEFEFE;
    background-color: #007BFE;
    border: solid 1px  #007BFE;
}
.services .buttons .love{
    border: solid 1px  #007BFE;
    color: #007BFE;
    background-color: #FEFEFE;
    font-size: 18px;
    padding: 3px;
    margin: 1px ;
  
}